*.iws
*Db.properties
*Db.script
.settings
/*DB.*
/cobertura.ser
.DS_Store
/web-app/WEB-INF
/.link_to_grails_plugins/
/target-eclipse/
/web-app/WEB-INF
*.log
/*.zip
/*.zip.sha1
/plugin.xml
/target
*.iml
/logs/
.classpath
.project
